/*Selector {
	Property: value;
}*/

body {
	background-image: url(https://images.unsplash.com/photo-1608463026422-8f43ab4ebac0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
	background-size: cover;
	color: #2E6565;
	font-family: 'Amatic SC'

}